<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<header>
			user2 header
		</header>
		<main>
			{{{ body }}}
		</main>
		<footer>
			user2 footer
		</footer>
	</body>
</html>